## HW1 MIS - Datascience programming
### ***Name - Prathmesh Savale UT-EID - ps33296***

In [1]:
import numpy as np
import random

### 1. Rock, Paper Scissors

In [2]:
def decide_winner(computer_ip, human_ip):
    '''Takes in 2 inputs for the rock paper and scissor game, decides and returns the winner'''
    if computer_ip == human_ip:
        return 'draw'
    elif (computer_ip =='scissor' and human_ip == 'paper') or (computer_ip =='rock' and human_ip == 'scissor') or (computer_ip =='paper' and human_ip == 'rock'):
        return 'computer wins'
    else:
        return 'human wins'

In [3]:
def rock_paper_scissor_logic(event):
    '''Takes 1 input event, returns the event that defeats the input event in rock, paper scissor game'''
    if event == 'rock':
        return 'paper'
    elif event =='scissor':
        return 'rock'
    elif event == 'paper':
        return 'scissor'

In [4]:
def compute_human_probability(past_vals_cnt, most_recent):
    '''Takes 2 inputs, past values events of rock, paper scissor game and the most recent event,
    returns the prediction that could defeat the anticipated input'''
#     print(past_vals_cnt)
    prob_vals = {'rock': past_vals_cnt['rock']/sum(past_vals_cnt.values()),
             'paper': past_vals_cnt['paper']/sum(past_vals_cnt.values()),
             'scissor': past_vals_cnt['scissor']/sum(past_vals_cnt.values())}
    max_keys = [key for key, value in prob_vals.items() if value == max(prob_vals.values())]
    if len(max_keys) > 1:
        print(prob_vals)
        if 'rock' in max_keys and 'paper' in max_keys:
            return('paper')
        elif 'rock' in max_keys and 'scissor' in max_keys:
            return('rock')
        elif 'scissor' in max_keys and 'paper' in max_keys:
            return('scissor')
#         if most_recent in max_keys:
#             return rock_paper_scissor_logic(most_recent)
    else:
        return rock_paper_scissor_logic(max_keys[0])

In [5]:
# main
def rock_paper_scissor_game():
    '''Executes the rock paper scissor game between human and computer'''
    computer_options = ['rock', 'paper', 'scissor']
    game_number = 0
    human_win = 0
    past_vals_cnt = {'rock': 0, 'paper': 0, 'scissor': 0}
    while(True):
        human_inp = input('enter "rock", "paper", "scissor" or "quit": ')
        if human_inp == 'quit':
            print('total games played: ', game_number)
            print('human wins: ', human_win)
            break
        elif human_inp not in computer_options:
            print('wrong input, please enter "rock", "paper, "scissor" or "quit"')
        else:
            print('human choice:',human_inp)
            past_vals_cnt[human_inp] += 1
            if game_number == 0:
                game_number += 1
                computer_choice = random.choice(computer_options)
                most_recent = human_inp
                print('computer choice:',computer_choice)
            else:
                game_number += 1
                computer_choice = compute_human_probability(past_vals_cnt, most_recent)
                print('computer choice:',computer_choice)
                most_recent = human_inp
            winner = decide_winner(computer_choice, human_inp)
            if winner == 'human wins':
                human_win += 1
            print('outcome:', decide_winner(computer_choice, human_inp), '\n')

In [6]:
rock_paper_scissor_game()

enter "rock", "paper", "scissor" or "quit": quit
total games played:  0
human wins:  0

## 2. Voters in Florida

In [7]:
import re
import pandas as pd

In [8]:
fp = open('FloridaVoters.html','r')

In [9]:
txt = fp.read()
fp.close()

In [10]:
#getting table
# re.findall('<tr>')
# re.findall('<tr>\s*ss'`)
tab_tuples = re.findall('<tr>\s*<td>(.*)</td>\s*<td>(.*)</td>\s*<td>(.*)</td>\s*<td>(.*)</td>\s*<td>(.*)</td>\s*<td>(.*)</td>',txt)

In [11]:
tab_df = pd.DataFrame(tab_tuples)
tab_df.columns = ['COUNTY', 'REPUBLICAN', 'DEMOCRAT', 'MINOR', 'NONE', 'TOTAL']
tab_df

        COUNTY REPUBLICAN   DEMOCRAT    MINOR       NONE       TOTAL
0      ALACHUA     47,329     77,996    3,864     34,116     163,305
1        BAKER      6,963      5,813      184      1,237      14,197
2          BAY     57,456     30,733    2,441     20,625     111,255
3     BRADFORD      6,878      6,533      251      1,971      15,633
4      BREVARD    167,129    127,435   13,960     86,702     395,226
..         ...        ...        ...      ...        ...         ...
63     VOLUSIA    121,402    124,136   11,537     88,882     345,957
64     WAKULLA      7,374      8,889      560      2,681      19,504
65      WALTON     25,609     10,013      842      8,150      44,614
66  WASHINGTON      7,101      5,687      221      1,690      14,699
67       Total  4,377,713  4,637,026  332,982  2,867,495  12,215,216

[68 rows x 6 columns]

In [12]:
tab_df["REPUBLICAN"] = tab_df["REPUBLICAN"].str.replace(',','').astype(int)
tab_df["DEMOCRAT"] = tab_df["DEMOCRAT"].str.replace(',','').astype(int)
tab_df["MINOR"] = tab_df["MINOR"].str.replace(',','').astype(int)
tab_df["NONE"] = tab_df["NONE"].str.replace(',','').astype(int)
tab_df["TOTAL"] = tab_df["TOTAL"].str.replace(',','').astype(int)

In [13]:
# sample output
tab_df.sort_values(by=['DEMOCRAT'], ascending=True)

          COUNTY  REPUBLICAN  DEMOCRAT   MINOR     NONE     TOTAL
32     LAFAYETTE        1373      2672      47      238      4330
20        GLADES        2190      3110     161      971      6432
37       LIBERTY         720      3372      23      318      4433
62         UNION        2752      3579     128      574      7033
19     GILCHRIST        5789      3652     304     1400     11145
..           ...         ...       ...     ...      ...       ...
27  HILLSBOROUGH      257436    314265   22612   204103    798416
49    PALM BEACH      245452    367236   30338   216973    859999
42    MIAMI-DADE      362161    539367   18093   360713   1280334
5        BROWARD      249762    566185   17602   286877   1120426
67         Total     4377713   4637026  332982  2867495  12215216

[68 rows x 6 columns]

## 3. Near - Duplicate Detection

In [14]:
import re
import pandas as pd
import math

### 3. a. convert each tweet into a dictionary of phrases

In [15]:
def moving_window(tweet):
    '''takes 1 input, extracts phrases of 3 words into a dictionary, returns the dictionary'''
    phrases_dict = dict()
    for i in range(0,len(tweet),3):
        phrases_dict[' '.join(tweet[i:i+3])] = 1
    return phrases_dict

In [16]:
# sample
txt = "Stock market crash is eminent, brace for impact downtrend"
txt_stripped = txt.rstrip().lstrip().split(" ")
rm_RT = [re.sub('@[^, ]*|(RT)|(Rt)', '', i) for i in txt_stripped]
rm_chars = [re.sub('[^A-Za-z0-9]+', '', i) for i in rm_RT]
alnum_words = [e for e in rm_chars if e.isalnum()]
phrase_dict = moving_window(alnum_words)
phrase_dict

{'Stock market crash': 1, 'is eminent brace': 1, 'for impact downtrend': 1}

### 3. b. calculate similarity between two points

In [17]:
def cosine(dict1, dict2):
    '''takes 2 inputs, returns cosine simmilarity between 2 points'''
    matches = sum([x in list(dict1.keys()) for x in list(dict2.keys())])
    cosine_val = matches/math.sqrt(len(dict1.keys()) * len(dict2.keys()))
    return cosine_val

In [18]:
def tokenize(txt):
    '''takes 1 input as a sentence, removes unwanted characters and creates tokens for cosine calculation'''
    txt_stripped = txt.rstrip().lstrip().split(" ")
    rm_RT = [re.sub('@[^, ]*|(RT)|(Rt)', '', i) for i in txt_stripped]
    rm_chars = [re.sub('[^A-Za-z0-9]+', '', i) for i in rm_RT]
    alnum_words = [e for e in rm_chars if e.isalnum()]
    return moving_window(alnum_words)

In [19]:
# sample
phrase_dict1 = tokenize("Stock market crash is eminent, brace for impact downtrend")
phrase_dict2 = tokenize("Stock market crash is eminent, brace for impact downtrend")
cosine(phrase_dict1, phrase_dict2)

1.0

### 3. c. Read in tweets, and output near-duplicates

In [20]:
# main
def calculate_near_duplicates(file_name):
    '''Takes 1 input, the filename and calculates near duplicate tweets from the given file'''
    fp = open(file_name,'r')
    txt = fp.readline()
    tweet_num = 0
    tweet_phrase_dict = dict()
    tweet_dict = dict()
    while txt is not "":
        tweet_dict[tweet_num] = txt
        phrase_dict = tokenize(txt)
        if tweet_num != 0:
            for i in range(len(tweet_phrase_dict)):
                cosine_val = cosine(phrase_dict, tweet_phrase_dict[i])
                if cosine_val> 0.5:
                    print(txt, "\033[1m ***IS SIMILAR TO*** \033[0;0m", tweet_dict[i],"\n")
        tweet_phrase_dict[tweet_num] = phrase_dict
        tweet_num += 1
        txt = fp.readline()
    fp.close()

In [21]:
# sample output
calculate_near_duplicates(file_name='Santa.txt')

RT @BuyBookstore: SPECIAL SECRET HEARTS: A Child's Introduction to Dementia and Pink Curls - A Santa ... - http://t.co/UWCdc8FA9a http://t.
  ***IS SIMILAR TO***  SPECIAL SECRET HEARTS: A Child's Introduction to Dementia and Pink Curls - A Santa ... - http://t.co/UWCdc8FA9a http://t.co/meexKLGTKl


"RT @DrewFtDevonne_: Rt si te gusta Santa Claus Is Coming To Town #MTVHottest Justin Bieber"
  ***IS SIMILAR TO***  "Santa Claus Is Coming To Town #MTVHottest Justin Bieber"


"Rt si te gusta Santa Claus Is Coming To Town #MTVHottest Justin Bieber"
  ***IS SIMILAR TO***  "Santa Claus Is Coming To Town #MTVHottest Justin Bieber"


"Rt si te gusta Santa Claus Is Coming To Town #MTVHottest Justin Bieber"
  ***IS SIMILAR TO***  "RT @DrewFtDevonne_: Rt si te gusta Santa Claus Is Coming To Town #MTVHottest Justin Bieber"

## 4. The Google of Quotes

In [22]:
import re
import pandas as pd
import math
import collections, functools, operator

In [23]:
# fp.close()
fp = open('quotes.txt','r', encoding='latin-1')
# txt = fp.read()

### 4.a Build a list of full quotes

In [24]:
def read_quotes_file(filename):
    '''takes 1 input as the filename and converts the file into a list of quotes'''
    fp = open(filename,'r', encoding='latin-1')
    quotes_speaker_list = list()
    txt = fp.readline().lstrip().rstrip()
    firstline = 1
    while txt is not "":
        if firstline == 1:
            quote = txt
            firstline = 0
        else:
            quote = fp.readline().lstrip().rstrip()

        speaker = fp.readline().lstrip().rstrip()
        if quote == '' or speaker == '':
            break
        str_to_add = quote+" - "+speaker
        quotes_speaker_list.append(str_to_add)
    fp.close()
    return quotes_speaker_list

In [25]:
quotes_speaker_list = read_quotes_file(filename = 'quotes.txt')

In [26]:
# sample output
quotes_speaker_list[-10:]

['The best defense against usurpatory government is an assertive citizenry. - William F. Buckley',
 'Cowards die many times before their deaths. The valiant never taste of death but once. - William Shakespeare',
 'It is astonishing what an effort it seems to be for many people to put their brains definitely and systematically to work. - Thomas Edison',
 'Liberty exists in proportion to wholesome restraint. - Daniel Webster',
 'To be what we are, and to become what we are capable of becoming, is the only end of life. - Robert Louis Stevenson',
 'I honestly think it is better to be a failure at something you love than to be a success at something you hate. - George Burns',
 'The power of accurate observation is commonly called cynicism by those who have not got it. - George Bernard Shaw',
 'Question with boldness even the existence of a God; because, if there be one, he must more approve of the homage of reason, than that of blind-folded fear. - Thomas Jefferson',
 'We are never deceived; we deceive ourselves. - Johann Wolfgang von Goethe',
 'Government is not a solution to our problem, government is the problem. - Ronald Reagan']

### 4.b Words from full quotes

In [27]:
def words_from_quotes(line):
    '''takes 1 input which is a quite and returns lowercase, alphanumeric tokens with the exception of an _'''
    line = str.lower(line) # for lowercase
    split_quote = re.split(' ', line)
    rm_chars = [re.sub('[^A-Za-z0-9_]+', '', i) for i in split_quote] # for removing any special characters except _
    alnum_words = [e for e in rm_chars if e.isalnum()]  #for removing whitespaces
    return alnum_words

In [28]:
# sample
words_from_quotes(quotes_speaker_list[0])

['how',
 'we',
 'spend',
 'our',
 'days',
 'is',
 'of',
 'course',
 'how',
 'we',
 'spend',
 'our',
 'lives',
 'annie',
 'dillard']

### 4.c Postings-list dictionary

In [29]:
def postings_list_dict(line):
    '''takes a quote as input and returns postings list dictionary'''
    postings_list_dictionary = dict()   
    alnum_words = words_from_quotes(line)
    unique_words = list(set(alnum_words))  # get unique words
    for item in unique_words:
        postings_list_dictionary[item] = 0 # assigning zero to all words
    for item in alnum_words:
        postings_list_dictionary[item] += 1 #updating values
    return postings_list_dictionary

In [30]:
# sample
postings_list_dict(quotes_speaker_list[0])

{'days': 1,
 'we': 2,
 'is': 1,
 'lives': 1,
 'how': 2,
 'of': 1,
 'course': 1,
 'annie': 1,
 'spend': 2,
 'our': 2,
 'dillard': 1}

### 4.d Reverse Postings-list dictionary

In [31]:
def reverse_postings_list_dict(word):
    '''takes a quote as input and returns reverse postings list dictionary'''
    quotes_speaker_list = read_quotes_file(filename = 'quotes.txt')
    n_docs = len(quotes_speaker_list) 
    
    reverse_postings_list_dictionary = dict()
    for i in range(n_docs):
        postings_list = postings_list_dict(quotes_speaker_list[i])
        if word in postings_list.keys():
            if word not in reverse_postings_list_dictionary.keys():
                reverse_postings_list_dictionary[word] = {quotes_speaker_list[i] : postings_list[word]}
            else:
                reverse_postings_list_dictionary[word].update({quotes_speaker_list[i]: postings_list[word]})
            
    return reverse_postings_list_dictionary

In [32]:
#sample
reverse_postings_list_dict('how')

{'how': {'How we spend our days is, of course, how we spend our lives. - Annie Dillard': 2,
  'Christmas can be celebrated in the school room with pine trees, tinsel and reindeers, but there must be no mention of the man whose birthday is being celebrated. One wonders how a teacher would answer if a student asked why it was called Christmas. - Ronald Reagan': 1,
  'I have often wondered how it is that every man loves himself more than all the rest of men, but yet sets less value on his own opinion of himself than on the opinion of others. - Marcus Aurelius': 1,
  'It`s not how old you are, it`s how hard you work at it. - Jonah Barrington': 2,
  'No matter how much cats fight, there always seem to be plenty of kittens. - Abraham Lincoln': 1,
  'Success, the real success, does not depend upon the position you hold but upon how you carry yourself in that position. - Theodore Roosevelt': 1,
  'Never discourage anyone who continually makes progress, no matter how slow. - Plato': 1,
  'True wisdom comes to each of us when we realize how little we understand about life, ourselves, and the world around us. - Socrates': 1,
  'How did it get so late so soon? It`s night before it`s afternoon. December is here before it`s June. My goodness how the time has flewn. How did it get so late so soon? - Theodor Seuss Geisel': 3,
  'One thing they never tell you about child raising is that for the rest of your life, at the drop of a hat, you are expected to know your child`s name and how old he or she is. - Erna Bombeck': 1,
  'If a man is proud of his wealth, he should not be praised until it is known how he employs it. - Socrates': 1,
  'We`ve got to live. No matter how many skies have fallen. - D.H. Lawrence': 1,
  'The ACLU is always yakking about the Constitution, and most of us are getting mighty tired of it. I mean, if the Constitution is so great, how come it was amended so many times? Huh? - Dave Barry': 1,
  'Many of life`s failures are people who did not realize how close they were to success when they gave up. - Thomas Edison': 1,
  'How did it happen that their lips came together? How does it happen that birds sing, that snow melts, that the rose unfolds, that the dawn whitens behind the stark shapes of trees on the quivering summit of the hill? A kiss, and all was said. - Victor Hugo': 2,
  'My role in society, or any artist`s or poet`s role, is to try and express what we all feel. Not to tell people how to feel. Not as a preacher, not as a leader, but as a reflection of us all. - John Lennon': 1,
  'Our nettlesome task is to discover how to organize our strength into compelling power. - Martin Luther King Jr.': 1,
  'I do not believe one can settle how much we ought to give. I am afraid the only safe rule is to give more than we can spare. - C.S. Lewis': 1,
  'There is no question that there is an unseen world. The problem is, how far is it from midtown and how late is it open? - Woody Allen': 2,
  'It`s not how much we give but how much love we put into giving. - Mother Teresa': 2,
  'All children are artists. The problem is how to remain an artist once he grows up. - Pablo Picasso': 1}}

### 4.e Write a TF-IDF function

In [33]:
def tf_idf_calc(word, quote):
    '''takes 2 inputs word and quote and returns the TF-IDF value of the word in the quote and document'''
    postings_list = postings_list_dict(quote)
    if word not in list(postings_list.keys()):
        print(word,"is not a part of the quote:",quote,"\nplease try again")
        return 0
    else:
#         print(postings_list
        TF = postings_list[word]/max(postings_list.values())
        
        quotes_speaker_list = read_quotes_file(filename = 'quotes.txt')    
        n_docs = len(quotes_speaker_list) 
        reverse_posting_dict = dict()
        freq = 0
        
        reverse_posting_dict = reverse_postings_list_dict(word)
#         for i in range(n_docs):
#             reverse_posting_dict = reverse_postings_list_dict(word)
#             if word in reverse_posting_dict.keys():
        freq = sum(reverse_posting_dict[word].values())
                
        IDF = math.log(n_docs/freq)
        return TF*IDF

In [34]:
quotes_speaker_list[0]

'How we spend our days is, of course, how we spend our lives. - Annie Dillard'

In [35]:
# sample
tf_idf_calc("how", quotes_speaker_list[0])

3.454512440429877

### 4.f Quote search using a single word

In [36]:
def quote_search_using_word(word):
    '''takes 1 input word rerurnds TF-IDF value of the word and all the quotes that contain the word in the quotes file'''
    quotes_speaker_list = read_quotes_file(filename = 'quotes.txt')
          
    reverse_posting_dict = dict()
    words_dict = dict()

    reverse_posting_dict = reverse_postings_list_dict(word)
    if word in reverse_posting_dict.keys():
        for key in reverse_posting_dict[word].keys():
            words_dict[key] = tf_idf_calc(word, key)
    return words_dict

In [41]:
# sample
quote_search_using_word("entertainer")

{'An actor is at most a poet and at least an entertainer. - Marlon Brando': 3.3933584753025405}

### 4.g Quote search using a multiple words

In [296]:
def quote_search_using_multiple_words(word_list):
    '''takes and input word list, returns sum of TF-IDF value of the words and all the quotes that contain the words in the quotes file'''
    quotes_speaker_list = read_quotes_file(filename = 'quotes.txt')
    
    reverse_posting_dict = dict()
    words_dict = dict()
    
    
    for word in word_list:
        reverse_posting_dict = reverse_postings_list_dict(word)
        if word in reverse_posting_dict.keys():
            for key in reverse_posting_dict[word].keys():
                if key not in words_dict.keys():
                    words_dict[key] = tf_idf_calc(word, key)
                else:
                    words_dict[key] += tf_idf_calc(word, key)
                    
    return words_dict

In [297]:
# sample
quote_search_using_multiple_words(["two", "diverged"])

{'Two roads diverged in a wood, and I...I took the one less traveled by, and that has made all the difference. - Robert Frost': 5.40042258948519,
 'When nothing seems to help, I go and look at a stonecutter hammering away at his rock perhaps a hundred times without as much as a crack showing in it. Yet at the hundred and first blow it will split in two, and I know it was not that blow that did it, but all that had gone before. - Jacob August Riis': 1.0035320570913249,
 'A Native American elder once described his own inner struggles in this manner: Inside of me there are two dogs. One of the dogs is mean and evil. The other dog is good. The mean dog fights the good dog all the time. When asked which dog wins, he reflected. - George Bernard Shaw': 0.8028256456730599,
 'Friendship is a single soul dwelling in two bodies. - Aristotle': 4.0141282283652995,
 'The best of life is conversation, and the greatest success is confidence, or perfect understanding between two people. - Ralph Waldo Emerson': 2.0070641141826497,
 'If you have an apple and I have an apple and we exchange these apples then you and I will still each have one apple. But if you have an idea and I have an idea and we exchange these ideas, then each of us will have two ideas. - George Bernard Shaw': 0.6690213713942166,
 'Wedding: a ceremony at which two persons undertake to become one, one undertakes to become nothing, and nothing undertakes to become supportable. - Ambrose Bierce': 1.3380427427884332,
 'Few people think more than two or three times a year. I have made an international reputation for myself by thinking once or twice a week. - George Bernard Shaw': 2.0070641141826497,
 'Marriage is the alliance of two people, one of whom never remembers birthdays and the other who never forgets. - Ogden Nash': 2.0070641141826497,
 'If my children wake up on Christmas morning and have someone to thank for putting candy in their stocking, have I no one to thank for putting two feet in mine? - GK Chesterton': 2.0070641141826497,
 'The thing we all have to understand to put these last two years in focus, is that liberals in this country care more about whether European leaders like us than they do about whether terrorists are killing us. - Rush Limbaugh': 2.0070641141826497,
 'I`ve worked for four presidents and watched two others up close, and I know that there`s no such thing as a routine day in the Oval Office. - Dick Cheney': 2.0070641141826497,
 'To me, it`s always a good idea to always carry two sacks of something when you walk around. That way, if anybody says, `Hey, can you give me a hand?,` you can say, `Sorry, got these sacks.` - Jack Handey': 1.3380427427884332,
 'A few hours of mountain climbing turn a villain and a saint into two rather equal creature. Exhaustion is the shortest way to equality and fraternity, and liberty is added eventually by sleep. - Friedrich Nietzsche': 1.3380427427884332,
 'No human relation gives one possession in another...every two souls are absolutely different. In friendship and in love, the two side by side raise hands together to find what one cannot reach alone. - Kahlil Gibran': 2.6760854855768663}